<section>
  <div class="main">
    <h3>{{ "contact" | translate }}</h3>

    <div class="wrapper">
      <div class="text">
        <h6>{{ "problemToSolve" | translate }}</h6>
        <p>{{ "contactMe" | translate }}</p>
        <p>
          {{ "needFD" | translate }}<span>{{ "contactMe2" | translate }}</span>
        </p>
      </div>

      <div class="form">
        <!-- <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm"> -->
        <div class="input-container">
          <input
            #name="ngModel"
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            minlength="2"
            [ngClass]="{
              error: !name.valid && name.touched,
              success: name.valid && name.touched
            }"
            required
            (focus)="nameIsFocused = true"
            (blur)="nameIsFocused = false"
          />
          <label class="error-message-top" [class.visible]="nameIsFocused">{{
            "enterName" | translate
          }}</label>

          @if (!name.valid && name.touched) {
          <span class="error-message">{{ "enterNameError" | translate }}</span>
          }
        </div>

        <!-- placeholder="{{ 'enterMail' | translate }}" -->
        <div class="input-container">
          <input
            #email="ngModel"
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            [ngClass]="{
              error: !email.valid && email.touched,
              success: email.valid && email.touched
            }"
            placeholder=""
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            (focus)="emailIsFocused = true"
            (blur)="emailIsFocused = false"
          />
          <label class="error-message-top" [class.visible]="emailIsFocused">{{
            "enterMail" | translate
          }}</label>

          @if (!email.valid && email.touched) {
          <span class="error-message">{{ "enterMailError" | translate }}</span>
          }
        </div>

        <!-- placeholder="{{ 'enterMessage' | translate }}" -->
        <div class="textarea-container">
          <textarea
            #message="ngModel"
            [(ngModel)]="contactData.message"
            minlength="4"
            id="message"
            name="message"
            [ngClass]="{
              error: !message.valid && message.touched,
              success: message.valid && message.touched
            }"
            placeholder=""
            style="height: 200px"
            required
            (focus)="textareaIsFocused = true"
            (blur)="textareaIsFocused = false"
          ></textarea>
          <label
            class="error-message-top"
            [class.visible]="textareaIsFocused"
            >{{ "enterMessage" | translate }}</label
          >

          @if (!message.valid && message.touched) {
          <span class="error-message">{{
            "enterMessageError" | translate
          }}</span>
          }
        </div>

        <div
          class="checkbox-privacy-policy"
          (mouseover)="changeCheckboxBackground(true)"
          (mouseout)="changeCheckboxBackground(false)"
        >
          <input
            type="checkbox"
            id="checkboxPrivatPolicy"
            name="checkboxPrivatPolicy"
            class="checkbox-privacy-policy"
          />
          <label
            for="checkboxPrivatPolicy"
            [ngStyle]="{ 'background-image': checkboxBackground }"
          ></label>
          <p class="accept-privacy-policy">
            {{ "iHaveRead" | translate }}
            <a href="#" target="”_blank”">{{ "privacyPolicy" | translate }}</a
            >{{ "iAgree" | translate }}
          </p>
          <!-- <div class="passwordDontMatch" id="passwordDontMatch">Ups! your password don't match</div> -->
        </div>

        <div class="submit-btn">
          <input
            type="submit"
            id="submit-btn"
            value="{{ 'sayHello' | translate }}"
          />
        </div>

        <!-- </form> -->
      </div>
    </div>

    <div class="circle-1"></div>
    <div class="circle-2"></div>

    <div class="go-up">
      <a href="#landing_page" class="go-up-link"></a>
    </div>

    <div class="circle-1"></div>
    <div class="circle-2"></div>
  </div>
</section>
