@import "../../style/colors.scss";

nav {
  height: 120px;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;

  > img {
    width: 64px;
    height: 69px;
    padding-left: 100px;
  }

  > .links {
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    padding-right: 100px;

    > .link-wrapper {
      position: relative;

      > .underline {
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 55.5px;
        height: 0;
        border: 2px solid $primary-color;
        display: none;
      }

      // > a:hover + .underline,
      // > a:focus + .underline {
      //   display: block;
      // }

      > .underline.active {
        display: block;
      }
    }
  }
}

.language-change {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  color: #5988ff;
  z-index: 2;
}
