@import "../../../../styles.scss";

nav {
  height: 120px;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  // padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; /* Ändere die Position auf relative */
  z-index: 10;

  > img {
    width: 64px;
    height: 69px;
    padding-left: 100px;
  }
  > div {
    display: flex;
    justify-content: flex-end;
    gap: 80px;
    padding-right: 100px;
    > a {
      &:hover {
        text-decoration: underline;
        font-weight: 700;
        font-size: 22.7px;
        &:nth-child(2) {
          font-size: 22.2px;
        }
      }
    }
  }

  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    color: #5988ff;
    z-index: 2;
  }
}
