<nav>
  <img class="header-logo" src="./assets/img/icons/logo.svg" alt="Logo" />
  <div class="links">
    <div class="link-wrapper">
      <a (click)="toggleUnderline(1)" href="#about_me">{{
        "aboutMe" | translate
      }}</a>
      <div class="underline" [class.active]="underlineActive === 1"></div>
    </div>
    <div class="link-wrapper">
      <a (click)="toggleUnderline(2)" href="#skill_set" class="font-size"
        >Skill set</a
      >
      <div class="underline" [class.active]="underlineActive === 2"></div>
    </div>
    <div class="link-wrapper">
      <a (click)="toggleUnderline(3)" href="#my_work">Portfolio</a>
      <div class="underline" [class.active]="underlineActive === 3"></div>
    </div>
    <div class="language-change">
      <a (click)="changeLanguage('de')">DE</a>
      <p>|</p>
      <a (click)="changeLanguage('en')">EN</a>
    </div>
  </div>
</nav>
