@import "../shared/style/montserrat.scss";
@import "../shared/style/colors.scss";

.data-privacy {
  padding: 100px;
  margin-top: calc(-100vh - 120px);
  position: relative;
  color: $color-black !important;

  .dp-h1 {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    color: $primary-color;
    padding: 16px 0;
  }

  .dp-h2 {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    color: $primary-color;
    padding: 8px 0;
    margin-top: 24px !important;
    padding: 12px 0;
  }

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1000px) {
  .data-privcy {
    padding: 50px 50px;
  }
}

@media (max-width: 500px) {
  .data-privcy {
    padding: 24px 24px;
  }
}
