@import "../shared/style/montserrat.scss";
@import "../shared/style/colors.scss";

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: calc(-100vh - 120px);
  box-sizing: border-box;

  .data-privacy {
    position: relative;
    // box-sizing: border-box;
    color: $color-black !important;
    min-height: calc(100vh - 120px);
    padding: 100px;
    flex: 1 !important;

    .dp-h1 {
      font-family: "Montserrat";
      font-size: 40px;
      font-weight: 700;
      color: $primary-color;
      padding: 16px 0;
    }

    .dp-h2 {
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: 700;
      color: $primary-color;
      padding: 8px 0;
      margin-top: 24px !important;
      padding: 12px 0;
    }

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1000px) {
  .data-privcy {
    padding: 50px 50px;
  }
}

@media (max-width: 500px) {
  .data-privcy {
    padding: 24px 24px;
  }
}
