<section>
  <div class="header-about">
    <h3>My work</h3>
    <p>
      Explore a selection of my work here - Interact with projects to see my
      skills in action.
    </p>
  </div>

  <!-- [ngStyle]="{ 'flex-direction': i % 2 === 0 ? 'row' : 'row-reverse' }" -->
  <!-- <div class="projects">
    <div
      class="project"
      *ngFor="let project of projectNames; let i = index"
      [ngClass]="{ even: i % 2 === 0, odd: i % 2 !== 0 }"
      (mouseenter)="onProjectHover(true, i)"
      (mouseleave)="onProjectLeave(i)"
    >
      <div
        class="project-img"
        [ngStyle]="{
          'justify-content': i % 2 === 0 ? 'flex-end' : 'flex-start'
        }"
      >
        <img
          src="./assets/img/pc_mockup/{{ projectImages[i] }}"
          alt="{{ projectImages[i] }}"
        />
      </div>
      <div
        class="project-text"
        [ngStyle]="{
          'align-items': i % 2 === 0 ? 'flex-start' : 'flex-end',
          'text-align': i % 2 === 0 ? 'start' : 'end',
          'padding-left': i % 2 === 0 ? '44px' : '0',
          'padding-right': i % 2 === 0 ? '0' : '60px'
        }"
      >
        <h4>{{ project }}</h4>
        <p>{{ projectLanguages[i] }}</p>
        <p>
          {{ projectDescriptions[i] }}
        </p>
        <button class="fill-button">Github</button>
      </div>
    </div>
  </div> -->

  <div class="projects">
    <div
      class="project"
      *ngFor="let project of projectNames; let i = index"
      [ngStyle]="{
        'flex-direction': i % 2 === 0 ? 'row' : 'row-reverse'
      }"
      [ngClass]="{ even: i % 2 === 0, odd: i % 2 !== 0 }"
      (mouseenter)="onProjectHover(true, i)"
      (mouseleave)="onProjectHover(false, i)"
    >
      <div class="project-img">
        <img
          [src]="'./assets/img/pc_mockup/' + projectImages[i]"
          [alt]="projectImages[i]"
        />
      </div>
      <div class="project-text">
        <h4>{{ project }}</h4>
        <p>{{ projectLanguages[i] }}</p>
        <p>{{ projectDescriptions[i] }}</p>
        <a href="#" target="_blank">
          <button class="fill-button">Live test</button></a
        >
        <a
          href="https://github.com/christian-grund/{{ projectLinks[i] }}"
          target="_blank"
        >
          <button class="fill-button">Github</button></a
        >
      </div>
    </div>
  </div>

  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="circle-4"></div>
  <div class="circle-5"></div>
  <div class="circle-6"></div>
  <div class="circle-7"></div>
  <div class="circle-8"></div>
</section>
