<section>
  <h3>Skill set</h3>
  <div class="skill-icons">
    <!-- mit ngFor und Arrays img und names!!! -->
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="./assets/img/icons/skillset/desktop/angular.svg" alt="" />
      <p>Angular</p>
    </div>
  </div>
</section>
