<section>
  <h3>Skill set</h3>
  <div class="skill-set">
    <div class="skill-icons">
      <div
        class="skill-icon"
        *ngFor="let icon of skillSetIconsTop; let i = index"
      >
        <img src="./assets/img/icons/skillset/desktop/{{ icon }}" alt="" />
        <p>{{ skillSetNamesTop[i] }}</p>
      </div>
    </div>
    <div class="skill-icons">
      <div
        class="skill-icon"
        *ngFor="let icon of skillSetIconsBottom; let i = index"
      >
        <img src="./assets/img/icons/skillset/desktop/{{ icon }}" alt="" />
        <p>{{ skillSetNamesBottom[i] }}</p>
      </div>
    </div>
  </div>
</section>
