<section>
  <div class="left">
    <h2>Let's work together</h2>
  </div>
  <div class="right">
    <span
      >Hi, I am a Front-end developer based in Oberkirch, Germany. I enjoy
      helping designers and companies bring their ideas into real life. I am
      looking forward to continuing my developer career with a job in a junior
      web developer position.<br /><br />
      If you think I’d be a good match for your projects, contact me!</span
    >
    <a href="#contact" class="fill-button">Send a message</a>
  </div>

  <div class="ball-big">
    <img src="./assets/img/background/ball.svg" alt="Ball big" />
  </div>

  <div class="ball-small">
    <img src="./assets/img/background/ball.svg" alt="Ball small" />
  </div>
</section>
