<section>
  <div class="aot-right">
    <div class="headline">
      <h5>Hello! I am Christian</h5>
      <h1>FRONTEND</h1>
      <h1>DEVELOPER</h1>
    </div>
  </div>

  <!-- <div class="aot-ball">
    <img src="./assets/img/background/ball.svg" alt="Ball" />
  </div> -->
  <div class="circle-top-left"></div>

  <div class="aot-social-icons">
    <a href=""
      ><img src="./assets/img/icons/social/github.svg" alt="Github"
    /></a>
    <a href=""><img src="./assets/img/icons/social/mail.svg" alt="Mail" /></a>
    <a href=""
      ><img src="./assets/img/icons/social/linkedin.svg" alt="LinkedIn"
    /></a>
  </div>

  <div class="scroll">
    <span>SCROLL</span>
    <div></div>
  </div>

  <div class="portrait">
    <img
      src="./assets/img/aot/portrait.png"
      alt="
    Portrait"
    />
  </div>
</section>
