@import "../../shared/style/colors.scss";

section {
  height: 100vh;
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, $color-white, $color-landingpage);
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden !important;
  overflow-y: hidden;

  .main {
    width: 100%;
    max-width: 1440px !important;
    height: 100vh;
    margin: auto;
    position: relative;
  }
}

.aot-right {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  margin-top: 160px;
  z-index: 1;
  position: relative;

  .headline {
    padding-right: 100px;
    .headline-h1 {
      line-height: 1;

      &.english {
        font-size: 71.5px;
      }
      &.german {
        font-size: 65px;
      }
    }

    h2 {
      font-size: 124px;
    }

    .headline-h2 {
      &.english {
        font-size: 116px;
      }
      &.german {
        font-size: 108px;
      }
    }
  }
}

.circle {
  position: absolute;
  top: -80px;
  left: -224px;
  z-index: 0;

  img {
    position: relative;
    width: 892px;
    height: auto;
  }
}

.social-icons {
  position: absolute;
  bottom: 100px;
  right: 108px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50px;
  gap: 16px;
  z-index: 10;

  a {
    img {
      transform: translateY(100px);
      animation: slideInSocial 1s ease forwards;
      animation-delay: 0.5s;
    }

    &:hover img {
      animation: slideLeft 0.5s ease forwards;
    }
  }
}

@keyframes slideInSocial {
  from {
    transform: translateY(100px) rotate(0deg);
  }
  to {
    transform: translateY(0) rotate(360deg);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-24px);
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  right: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(100px);
  animation: slideIn 1s ease forwards;
  animation-delay: 0.5s;

  span {
    font-size: 28px;
    font-weight: 500;
    color: $primary-color;
  }
  div {
    height: 330px;
    width: 0;
    border: 2px solid $primary-color;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.portrait {
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: translateY(100px);
  animation: slideIn 1s ease forwards;
  animation-delay: 0.5s;

  img {
    height: 1000px;
    width: auto;
  }
}

.typewrite {
  line-height: 0.8;
}

.text_1 {
  animation: text1;
  letter-spacing: -1.5px;
}
.text_2 {
  animation: text2;
}
.text_3 {
  animation: text3;
  letter-spacing: -2.5px;
}
.text_1,
.text_2,
.text_3 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}
.text_1::after,
.text_2::after,
.text_3::after {
  content: "|";
  font-size: unset;
  font-size: 70%;
  position: absolute;
  top: 10%;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text1 {
  0%,
  33%,
  66%,
  100% {
    width: 0;
  }
  5%,
  25% {
    width: 100%;
  }
}

@keyframes text2 {
  0%,
  33%,
  66%,
  100% {
    width: 0;
  }
  40%,
  60% {
    width: 90%;
  }
}

@keyframes text3 {
  0%,
  33%,
  66%,
  100% {
    width: 0;
  }
  75%,
  90% {
    width: 100%;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 1440px) {
  .circle {
    img {
      position: relative;
      width: 62vw;
      height: auto;
    }
  }
}

@media (max-width: 1340px) {
  .headline {
    .headline-h1 {
      &.english {
        font-size: 55px !important;
      }
      &.german {
        font-size: 50px !important;
      }
    }

    h2 {
      font-size: 95px !important;
    }

    .headline-h2 {
      &.english {
        font-size: 89px !important;
      }
      &.german {
        font-size: 82px !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .circle {
    top: -42px;

    img {
      width: 800px !important;
      height: auto !important;
    }
  }

  .aot-right {
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    margin-top: 160px;

    .headline {
      padding-left: 16px;
      h1 {
        color: $color-white !important;
      }
      h2 {
        color: $color-white !important;
      }
    }
  }

  .social-icons {
    right: 58px;
  }

  .scroll {
    right: 100px;
  }
}

@media (max-width: 850px) {
  .scroll {
    display: none;
  }
}

@media (max-width: 600px) {
  .aot-right {
    margin-top: 10vh;

    .headline {
      h1 {
        font-size: 8.8vw !important;
      }
      .headline-h1 {
        &.english {
          font-size: 8.8vw !important;
        }
        &.german {
          font-size: 7.8vw !important;
        }
      }

      h2 {
        font-size: 15.5vw !important;
      }
      .headline-h2 {
        &.english {
          font-size: 14.5vw !important;
        }
        &.german {
          font-size: 13.1vw !important;
        }
      }
    }
  }

  .circle {
    top: -15vw !important;
    left: -25vw !important;
    img {
      width: 115vw !important;
      height: auto !important;
    }
  }

  .social-icons {
    right: 32px;
  }
}

@media (max-width: 500px) {
  .circle {
    top: -12px;
    left: -221px;
  }
}

@media (max-width: 400px) {
  .portrait {
    left: -20px;
  }

  .circle {
    top: -5vw !important;
  }
}

@media (max-width: 350px) {
  .social-icons {
    display: none;
  }
}

@media (max-height: 1300px) {
  .portrait {
    img {
      height: 70vh !important;
      width: auto;
    }
  }
}

@media (max-width: 600px) and (max-height: 1300px) {
  .aot-right {
    margin-top: 15vh !important;
  }
}
