@import "../../shared/style/colors.scss";
@import "../../shared/style/mixins.scss";

section {
  // height: calc(100vh + 120px);
  height: 100vh;
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, $color-white, $color-landingpage);
  overflow-x: hidden !important;
  box-sizing: border-box;
  margin-top: calc(-100vh - 120px);
  position: relative;
  overflow-x: hidden;

  .main {
    width: 100%;
    max-width: 1440px !important;
    height: 100vh;
    margin: auto;
    position: relative;
  }
}

.aot-right {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  margin-top: 160px;
  z-index: 1;
  position: relative;

  .headline {
    padding-right: 100px;
    h1 {
      font-size: 71.5px;
      line-height: 1;
    }
    h2 {
      font-size: 124px;

      &:last-child {
        font-size: 116px;
      }
    }
  }
}

.circle {
  position: absolute;
  top: -80px;
  left: -224px;
  z-index: 0;

  img {
    position: relative;
    width: 100vw;
    width: 892px;
    height: auto;
  }
}

.social-icons {
  position: absolute;
  bottom: 100px;
  right: 108px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50px;
  gap: 16px;

  a {
    img {
      transition: transform 0.125s ease; // Füge eine sanfte Animation hinzu
    }

    &:hover img {
      transform: translateX(-16px); // Bewege das Bild um 24px nach links
    }
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  right: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  span {
    font-size: 28px;
    font-weight: 500;
    color: $primary-color;
  }
  div {
    height: 330px;
    width: 0;
    border: 2px solid $primary-color;
  }
}

.portrait {
  position: absolute;
  bottom: 0px;
  left: 0;

  img {
    height: 1000px;
    width: auto;
  }
}

@media (max-width: 1440px) {
  .circle {
    img {
      position: relative;
      width: 62vw;
    }
  }
}

// and (max-height: 900px)
@media (max-width: 1340px) {
  .headline {
    h1 {
      font-size: 55px !important;
    }
    h2 {
      font-size: 95px !important;

      &:last-child {
        font-size: unset;
        font-size: 89px !important;
      }
    }
  }

  .portrait {
    img {
      height: 800px !important;
      width: auto;
    }
  }
}

// and (max-height: 900px)
@media (max-width: 1000px) {
  .circle {
    top: -42px;
    // left: -22px;

    img {
      width: 800px !important;
      height: auto !important;
    }
  }

  .aot-right {
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    margin-top: 160px;

    .headline {
      padding-left: 16px;
      h1 {
        color: $color-white !important;
      }
      h2 {
        color: $color-white !important;
      }
    }
  }

  .social-icons {
    right: 58px;
  }

  .scroll {
    right: 100px;
  }
}

// @media (max-width: 1000px) and (max-height: 667px) {
//   .portrait {
//     img {
//       height: 450px !important;
//       width: auto;
//     }
//   }
// }

@media (max-width: 850px) {
  .scroll {
    display: none;
  }
}

@media (max-width: 700px) {
  .social-icons {
    display: none;
  }

  // .portrait {
  //   img {
  //     height: 800px;
  //   }
  // }
}

@media (max-width: 600px) {
  .headline {
    h1 {
      font-size: 50px !important;
    }
    h2 {
      font-size: 90px !important;
      &:last-child {
        font-size: 84px !important;
      }
    }
  }

  .circle {
    img {
      width: 720px !important;
      height: auto !important;
    }
  }
}

@media (max-width: 500px) {
  .headline {
    h1 {
      font-size: 40px !important;
    }
    h2 {
      font-size: 71.5px !important;
      &:last-child {
        font-size: 67px !important;
      }
    }
  }

  .circle {
    top: -12px;
    left: -221px;

    img {
      width: 620px !important;
      height: auto !important;
    }
  }
}

@media (max-width: 400px) {
  .headline {
    h1 {
      font-size: 36px !important;
    }
    h2 {
      font-size: 62px !important;
      &:last-child {
        font-size: 58px !important;
      }
    }
  }

  .circle {
    img {
      width: 570px !important;
      height: auto !important;
    }
  }

  .portrait {
    left: -20px;
    img {
      height: 650px !important;
    }
  }
}

// @media (max-width: 375px) {
//   .portrait {
//     img {
//       height: 450px !important;
//       width: auto;
//     }
//   }
// }

@media (max-width: 350px) {
  .headline {
    h1 {
      font-size: 33px !important;
    }
    h2 {
      font-size: 58px !important;
      &:last-child {
        font-size: 55px !important;
      }
    }
  }

  .circle {
    img {
      width: 540px !important;
      height: auto !important;
    }
  }
}
