<section>
  <div class="main">
    <div class="aot-right">
      <div class="headline">
        <h5>{{ "helloIAm" | translate }}</h5>
        <h1>FRONTEND</h1>
        <h1>{{ "developer" | translate }}</h1>
      </div>
    </div>

    <!-- <div class="aot-ball">
            <img src="./assets/img/background/ball.svg" alt="Ball" />
          </div> -->
    <div class="circle-top-left"></div>

    <div class="aot-social-icons">
      <a href="https://github.com/christian-grund/" target="_blank"
        ><img src="./assets/img/icons/social/github.svg" alt="Github"
      /></a>
      <a href="mailto:christian.grund@outlook.de"
        ><img src="./assets/img/icons/social/mail.svg" alt="Mail"
      /></a>
      <a href="https://de.linkedin.com/" target="_blank"
        ><img src="./assets/img/icons/social/linkedin.svg" alt="LinkedIn"
      /></a>
    </div>

    <div class="scroll">
      <span>{{ "scroll" | translate }}</span>
      <div></div>
    </div>

    <div class="portrait">
      <img
        src="./assets/img/aot/portrait.png"
        alt="
    Portrait"
      />
    </div>
  </div>
</section>
