@import "../../shared/style/colors.scss";
@import "../../shared/style/mixins.scss";

section {
  height: calc(100vh + 120px);
  height: 100vh;
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, $color-white, $color-landingpage);
  overflow: hidden;
  box-sizing: border-box;
  margin-top: -120px;

  .main {
    width: 100%;
    max-width: 1440px !important;
    height: 100vh;
    margin: auto;
    position: relative;
  }
}

.aot-right {
  display: flex;
  //   justify-content: center;
  align-items: flex-end;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  margin-top: 175px;

  .headline {
    padding-right: 100px;
    > h5 {
      font-size: 80px;
      line-height: 1;
    }
    > h1 {
      font-size: 116px;

      &:first-child {
        font-size: 124px !important;
      }
    }
  }
}

.aot-ball {
  position: absolute;
  top: -171px;
  left: -299px;
  img {
    width: 892px;
    height: 892px;
  }
}

.circle-top-left {
  @include circle(60vw, 864px, #5988ff, #0043f0);
  position: absolute;
  top: -10vh;
  left: -15vw;
}

.aot-social-icons {
  position: absolute;
  bottom: 100px;
  right: 108px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50px;
  gap: 16px;

  a {
    img {
      transition: transform 0.125s ease; // Füge eine sanfte Animation hinzu
    }

    &:hover img {
      transform: translateX(-16px); // Bewege das Bild um 24px nach links
    }
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  right: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  span {
    font-size: 28px;
    font-weight: 500;
    color: $primary-color;
  }
  div {
    height: 330px;
    width: 0;
    border: 2px solid $primary-color;
  }
}

.portrait {
  position: absolute;
  bottom: 0;
  left: 0;

  img {
    height: 1150px;
    width: auto;
  }
}
