@import "./colors.scss";

@mixin circle($size, $max-size, $primary-color, $secondary-color) {
  width: $size;
  height: $size;
  max-width: $max-size;
  max-height: $max-size;
  border-radius: 50%;
  background: linear-gradient(120deg, $primary-color, $secondary-color);
}

@mixin ball-img($size) {
  background-image: url(../../../assets/img/background/ball.svg);
  background-size: $size $size;
  background-repeat: no-repeat;
}
