@import "../../style/colors.scss";

section {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  // margin: auto;
  background: linear-gradient(
    to bottom right,
    $primary-color,
    $secondary-color
  );

  .main {
    width: 100%;
    max-width: 1440px !important;
    margin: auto;

    .logo {
      display: flex;
      justify-content: flex-start;
      width: 154px;
    }

    .top-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 0 100px;

      p {
        font-size: 23px;
        font-weight: 400;
        color: $color-white;
      }

      .social-icons {
        display: flex;

        a {
          // padding-right: 16px;
          &:not(:last-child) {
            padding-right: 32px;
          }
          img {
            transition: transform 0.125s ease;
          }

          &:hover img {
            transform: scale(1.25);
          }
        }
      }
    }

    .imprint {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      flex-direction: column;
      bottom: 75px;
      cursor: pointer;
      a {
        font-size: 19px;
        font-weight: 400;
        color: $color-white;
        transition: 0.2s ease;
        text-decoration: none;
      }
      &:hover a {
        font-weight: bold;
      }
      .imprint-underline {
        width: 50px;
        height: 0;
        margin-top: 4px;
        border: 1px solid $color-white;
        transition: transform 0.2s ease;
        transform: translateX(-25%);
        opacity: 0;
      }

      &:hover .imprint-underline {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1000px) {
  section {
    height: 380px;
    padding: 100px 50px;
  }

  .logo {
    width: unset !important;
  }

  .top-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
    padding: 0 0 !important;

    .social-icons {
      gap: 42px;

      a {
        &:not(:last-child) {
          padding-right: unset !important;
        }
      }
    }
  }

  .imprint {
    bottom: 60px !important;
  }
}

@media (max-width: 1000px) {
  section {
    padding: 100px 12.5px;
  }
}
