<section>
  <div class="top-content">
    <div class="logo">
      <img src="./assets/img/icons/logo.svg" alt="" />
    </div>
    <p>© Christian Grund 2024</p>
    <div class="social-icons">
      <a href="#"
        ><img src="./assets/img/icons/social/github_blanc.svg" alt="Github" />
      </a>
      <a href="#">
        <img src="./assets/img/icons/social/mail_blanc.svg" alt="Mail" />
      </a>

      <a href="#">
        <img
          src="./assets/img/icons/social/linkedin_blanc.svg"
          alt="LinkedIn"
        />
      </a>
    </div>
  </div>

  <div class="imprint">
    <a href="#contact"><p>Imprint</p></a>
    <div class="imprint-underline"></div>
  </div>
</section>
