<section>
  <div class="main">
    <div class="top-content">
      <div class="logo">
        <img src="./assets/img/icons/logo/logo-cg-white.png" alt="" />
      </div>
      <p>© Christian Grund 2024</p>
      <div class="social-icons">
        <a href="https://github.com/christian-grund/" target="_blank"
          ><img src="./assets/img/icons/social/github_blanc.svg" alt="Github" />
        </a>
        <a href="mailto:christian.grund@outlook.de">
          <img src="./assets/img/icons/social/mail_blanc.svg" alt="Mail" />
        </a>

        <a href="https://de.linkedin.com/" target="_blank">
          <img
            src="./assets/img/icons/social/linkedin_blanc.svg"
            alt="LinkedIn"
          />
        </a>
      </div>
    </div>

    <div class="imprint">
      <a routerLink="imprint" (click)="scrollToTop()"
        ><p>{{ "imprint" | translate }}</p></a
      >
      <div class="imprint-underline"></div>
    </div>
  </div>
</section>
