section {
  height: calc(100vh + 120px);
  width: 100%;
  max-width: 1440px;
  display: flex;
  position: relative;
  background: linear-gradient(to bottom, #ffffff, #eaf0ff);
  overflow: hidden;
  box-sizing: border-box;
  margin-top: -120px;
}

.aot-right {
  display: flex;
  //   justify-content: center;
  align-items: flex-end;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  margin-top: 224px;

  .headline {
    padding-right: 100px;
    > h6 {
      font-size: 60.5px;
      line-height: 1.5;
    }
    > h1 {
      font-size: 116px;

      &:nth-child(2) {
        font-size: 124px !important;
      }
    }
  }
}

.aot-ball {
  position: absolute;
  top: -171px;
  left: -299px;
  img {
    width: 892px;
    height: 892px;
  }
}

.aot-social-icons {
  position: absolute;
  bottom: 100px;
  right: 108px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.scroll {
  position: absolute;
  bottom: 0;
  right: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  span {
    font-size: 28px;
    font-weight: 500;
    color: #5988ff;
  }
  div {
    height: 330px;
    width: 0;
    border: 2px solid #5988ff;
  }
}

.portrait {
  position: absolute;
  bottom: 0;
  left: 0;

  img {
    height: 1150px;
    width: auto;
  }
}
