section {
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  display: flex;
  position: relative;
  background: linear-gradient(to bottom, #ffffff, #eaf0ff);
}

.aot-right {
  display: flex;
  //   justify-content: center;
  align-items: flex-end;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  margin-top: 227px;

  .headline {
    padding-right: 100px;
    h1 {
      font-size: 55.5px;
      color: #5988ff;
      font-weight: 400;
      margin-block-start: 0 !important;
      margin-block-end: 0 !important;
      &:nth-child(2),
      &:nth-child(3) {
        font-family: "Baloo 2";
        font-weight: 900;
        font-size: 128px;
        line-height: 0.9;
      }
      &:nth-child(2) {
        font-size: 113px;
      }
      &:nth-child(3) {
        font-size: 106px;
      }
    }
  }
}

.aot-ball {
  position: absolute;
  top: -71px;
  left: -199px;
  img {
    width: 892px;
    height: 892px;
  }
}

.aot-social-icons {
  position: absolute;
  bottom: 100px;
  right: 108px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.scroll {
  position: absolute;
  bottom: 0;
  right: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  span {
    font-size: 28px;
    font-weight: 500;
    color: #5988ff;
  }
  div {
    height: 330px;
    width: 0;
    border: 2px solid #5988ff;
  }
}

.portrait {
  position: absolute;
  bottom: 0;
  left: 0;

  img {
    height: 1150px;
    width: auto;
  }
}
