@import "./app/shared/style/baloo.scss";
@import "./app/shared/style/montserrat.scss";
@import "./app/shared/style/colors.scss";

body {
  //   background-color: lightseagreen;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Baloo 2";
  font-weight: 900;
  line-height: 0.9;
  color: #5988ff;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

h2 {
  color: #5988ff;
  font-size: 121px;
  font-family: "Baloo 2";
  font-weight: 900;
  line-height: 0.9;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

h3 {
  color: #ffffff;
  font-size: 96px;
  font-family: "Baloo 2";
  font-weight: 700;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

h6 {
  color: #5988ff;
  font-weight: 400;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

button {
  padding-block: 0;
  padding-inline: 0;
  border-width: 0;
  border-style: outset;
  border-color: unset;
  background-color: unset;
  border: 2px solid #9747ff;
  border-radius: 10px;
  padding: 15px 30px !important;
  gap: 10px;
  font-size: 23px;
  font-weight: 400;
  color: #9747ff;
  display: inline-block !important;
  cursor: pointer;
  width: auto !important;
  box-sizing: border-box !important;
}
