@import "../../shared/style/colors.scss";

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  background: linear-gradient(
    to bottom right,
    $primary-color,
    $secondary-color
  );

  .main {
    width: 100%;
    max-width: 1440px !important;
    padding: 100px;
    margin: auto;
    position: relative;
    box-sizing: border-box;

    .wrapper {
      border: 2px solid $color-white;
      border-radius: 40px;
      position: relative;
    }
  }

  h3 {
    color: $color-white;
    text-align: center;
  }

  .skill-set-text {
    color: $color-white;
    font-size: 20px;
    text-align: center;
    padding: 0 7.5%;
  }
}

.skill-set-container {
  overflow: hidden;
  width: 100%;
  position: relative;

  .skill-set {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
  }

  .skills-frontend,
  .skills-backend {
    width: 50%;
    box-sizing: border-box;
  }
}

.skill-set-container .skill-set {
  transform: translateX(0);
}

.skill-set-container.show-backend .skill-set {
  transform: translateX(-50%);
}

.skill-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-bottom: 80px;

  .skill-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 48px;
    gap: 10px;
    width: 242px;
    position: relative;

    img {
      width: 70px;
      height: 75px;
      transition: transform 0.3s ease;
    }

    &:hover img {
      animation: carousel 0.4s linear;
    }

    p {
      color: $color-white;
      text-align: center;
      margin: 0;
    }

    &:hover p {
      font-weight: bold;
    }

    &.last-skill {
      .last-skill-img {
        filter: brightness(0) saturate(100%) invert(88%) sepia(99%)
          saturate(1360%) hue-rotate(326deg) brightness(103%) contrast(98%);
        height: 80px;
        width: 75px;
      }

      p {
        color: rgb(255, 214, 0);
      }

      &:hover {
        p {
          color: $color-white;
        }

        img {
          filter: unset !important;
        }

        .popup-window {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .popup-window {
      position: absolute;
      top: -150px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-white;
      padding: 16px;
      border-radius: 24px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
      z-index: 1000;

      p {
        color: $primary-color;
      }

      .interest-icons {
        display: flex;
        justify-content: center;
        padding: 8px 32px 0 32px;
        width: 262px;
        box-sizing: border-box;
        gap: 16px;

        .interest {
          display: flex;
          align-items: center;
          flex-direction: column;

          img {
            height: 50px;
            width: auto;
            object-fit: cover;
            transform: unset !important;
            padding: 8px;
          }

          p {
            height: 19px !important;
          }
        }
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
  color: $color-white;
  padding-bottom: 40px;

  button {
    background-color: $color-white;
    color: $primary-color;
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0) scale(1);
  }
  8% {
    transform: translateX(30px) scale(0.9);
  }
  16% {
    transform: translateX(50px) scale(0.85);
  }
  25% {
    transform: translateX(50px) scale(0.8);
  }
  33% {
    transform: translateX(30px) scale(0.75);
  }
  41% {
    transform: translateX(10px) scale(0.7);
  }
  50% {
    transform: translateX(0) scale(0.7);
  }
  58% {
    transform: translateX(-10px) scale(0.7);
  }
  66% {
    transform: translateX(-30px) scale(0.75);
  }
  75% {
    transform: translateX(-50px) scale(0.8);
  }
  83% {
    transform: translateX(-50px) scale(0.85);
  }
  91% {
    transform: translateX(-30px) scale(0.9);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@media (max-width: 1440px) {
  .skill-icon {
    width: 206px !important;
  }
}

@media (max-width: 1250px) {
  .skill-icon {
    width: 176px !important;
  }
}

@media (max-width: 1100px) {
  .skill-icons {
    height: 550px;
  }

  .skill-icon {
    width: 154px !important;

    .skill-icon-p {
      height: 38px !important;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 1000px) {
  .main {
    padding: 100px 50px !important;
  }

  .skill-icon {
    width: 154px !important;
  }
}

@media (max-width: 873px) {
  h3 {
    font-size: 64px !important;
  }

  .skill-icons {
    height: 600px !important;
  }
}

@media (max-width: 750px) {
  .main {
    padding: 100px 25px !important;
  }

  .skill-icon {
    width: 154px !important;
  }
}

@media (max-width: 670px) {
  .skill-icons {
    height: 725px !important;
  }
}

@media (max-width: 600px) {
  .skill-icon {
    width: 145px !important;
  }
}

@media (max-width: 500px) {
  section {
    p {
      padding: unset;
    }
  }

  .main {
    padding: 50px 12.5px !important;
  }

  .popup-window {
    top: -128px !important;
    padding: 12px !important;
  }

  .interest-icons {
    width: 232px !important;
  }

  .interest img {
    height: 40px !important;
    width: auto !important;
    padding: 4px !important;
  }
}

@media (max-width: 465px) {
  .skill-icon {
    width: 110px !important;
  }
}

@media (max-width: 400px) {
  .skill-icons {
    height: 650px !important;
  }

  .skill-icon {
    width: 96px !important;

    img {
      width: 50px !important;
      height: 55px !important;
    }

    p {
      font-size: 14px !important;
    }
  }

  .last-skill img {
    width: 55px !important;
    height: 60px !important;
  }

  .popup-window {
    top: -100x !important;
    padding: 16px !important;

    p {
      font-size: 12px !important;
    }
  }

  .interest img {
    height: 32px !important;
    width: auto !important;
    padding: 4px !important;
  }

  .interest-icons {
    padding: 4px 12px 0 12px !important;
    width: unset !important;
    gap: 8px !important;
  }

  .buttons {
    gap: 24px;
  }
}

.adjust-font-height {
  display: flex;
  align-items: center;
  height: 32px;
}
