@import "../../shared/style/colors.scss";

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  padding: 100px;
  background: linear-gradient(
    to bottom right,
    $primary-color,
    $secondary-color
  );

  .main {
    width: 100%;
    max-width: 1440px !important;
    margin: auto;
    position: relative;
  }

  h3 {
    color: $color-white;
    text-align: center;
  }

  p {
    color: $color-white;
    font-size: 20px;
    text-align: center;
    padding: 0 7.5%;
  }
}

.skill-set {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  .skill-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 450px;
    box-sizing: border-box;
    flex-wrap: wrap;

    .skill-icon {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 48px;
      gap: 10px;
      width: 242px;

      img {
        width: 70px;
        height: 75px;
        transition: transform 0.2s ease-in-out;
        transform: translateX(0);
      }

      &:hover img {
        // transform: translateY(-12px);
        animation: carousel 0.3s linear; /* Karussellanimation beim Hovern */
      }

      p {
        color: $color-white;
        font-size: 16px;
        text-align: center;
        transition: transform 0.2s ease-in-out;
      }

      &:hover p {
        font-weight: bold;
      }
    }
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0) scale(1);
  }
  8% {
    transform: translateX(30px) scale(0.9);
  }
  16% {
    transform: translateX(50px) scale(0.85);
  }
  25% {
    transform: translateX(50px) scale(0.8);
  }
  33% {
    transform: translateX(30px) scale(0.75);
  }
  41% {
    transform: translateX(10px) scale(0.7);
  }
  50% {
    transform: translateX(0) scale(0.7);
  }
  58% {
    transform: translateX(-10px) scale(0.7);
  }
  66% {
    transform: translateX(-30px) scale(0.75);
  }
  75% {
    transform: translateX(-50px) scale(0.8);
  }
  83% {
    transform: translateX(-50px) scale(0.85);
  }
  91% {
    transform: translateX(-30px) scale(0.9);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@media (max-width: 1440px) {
  .skill-icon {
    width: 206px !important;
  }
}

@media (max-width: 1250px) {
  .skill-icon {
    width: 176px !important;
  }
}

@media (max-width: 1100px) {
  .skill-icon {
    width: 154px !important;
  }
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }

  .skill-icon {
    width: 154px !important;
  }
}

@media (max-width: 850px) {
  h3 {
    font-size: 64px !important;
  }
}

@media (max-width: 750px) {
  .skill-icons {
    height: 600px !important;
  }
}

@media (max-width: 600px) {
  section {
    padding: 100px 25px;
  }

  .skill-icon {
    width: 145px !important;
  }
}

@media (max-width: 500px) {
  section {
    padding: 50px 12.5px;
  }

  .skill-icon {
    width: 120px !important;
  }
}

@media (max-width: 400px) {
  .skill-icon {
    width: 93px !important;
  }

  p {
    padding: 0 7.5%;
  }
}
